
/*inicio*/

body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-image: url("img/fundo.gif");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: rgb(0, 0, 0);
	line-height: 1.5;
}
.titulo-principal {
	width: 100%;
	text-align: center;
	background-color: #1494c7;
	color: #FFF;
	padding: 15px;
	font-size: 50px;
	text-transform: uppercase;
}
/*início da config do menu*/
.menu{
    margin: 0;
}
.menu ul{
	margin: 0;
	text-align: center;
	background-color: rgb(0, 0, 0);
    list-style: none;
}
.menu ul li{
	display: inline;
}
.menu ul li a{
	padding: 5px 50px;
	display: inline-block;
	font-size: 25px;
	color: #FFF;
	text-decoration: none ;

}
.menu ul li a:hover{
	color: rgb(98, 34, 100);
	background-color: #FFF;
}
/*Termino da Config do menu*/
/*config do corpo da pagina*/
.cont{
   color: #fff;
   display: table-cell;
   position: absolute;
   top: 42.59259259259259%;
   left: 15.625%;
   font-size: 20px;

}
form {
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 15px;
    background-color:transparent;
	width: 26.04166666666667%;
    height: 41.66666666666667%;
}
 
.caixa {
	margin-left: 20px;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 5px 5px 5px black;
}
 
input, textarea {
    width: 200px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
}
 
input:hover, textarea:hover, input:focus, textarea:focus {
    border-color: #000066;
    box-shadow: 5px 0px 9px #FFFF;
    color: black;
    font-weight: bold;
}
 
.submit input {
    background-color:  rgb(85, 37, 163);
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
}
 
textarea {
    width: 400px;
    height: 120px;
    line-height: 20px;
    max-width: 400px;
}
 
form label {
    margin-left: 20px;
    color: #FFFFFF;
    font-weight: bold;
}


 .titulos{
    background-color:  #1494c7;
	font-family: "Open Sans Condensed", "Arial", sans-serif;
	text-align: center; 
	color: #FFF;
	font-size: 30px;
	border-bottom: 10px solid rgb(85, 37, 163);
 }
 .text-sub{
	font-family: "Open Sans Condensed", "Arial", sans-serif;
	text-align: center;
	size: 20px;
	color:#FFF

 }
 .Texto-noticia{
	 
    background-color: rgba(85, 37, 163, 0.100);

 }
.Mform{

   display: table-cell;
   position: absolute;
   top: 18.51851851851852%;
   left: 36.45833333333333%;



}

 h1, h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}

p {
	color:#FFF;
	text-align: justify;
	margin: 20px 0;
}
/*termino corpo da página*/

/*rodape */
.rodape-pagina {
	position:absolute;
	bottom:0;
	width:100%;
    text-align: center;
	background-color: #1494c7;
	color: #F2FFFC;
	clear: both;
	bottom: 0;
	left: 0;
	padding: 15px;
	border-top: 10px solid rgb(85, 37, 163);
}
.aside{


	text-align: center;


}


.footer{

	text-decoration: none ;
}
.icones-redes-sociais li {
	    text-decoration: none;
		display: inline-block;
}
/*Redes sociais*/
.icones-redes-sociais a {
	width: 40px;
	height: 40px;
	display: block;
	text-indent: -99999px;
}
.github {
	background-image: url("img/github.png");
}

.twitter {
	background-image: url("img/twitter.png");
}

.linkedin {
	background-image: url("img/linkedin.png");
}
.Instagram {
	background-image: url("img/instagram.png" ) ;
}

/*fim*/

/*© copyrigh Rubens Eduardo*/